.cpcache                                                                                                               
.nrepl-port                                                                                                            
                                                                                                                       
# clojure-lsp                                                                                                          
.lsp                                                                                                                   
.clj-kondo 
